@model ChenKennethHW5.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Order</h4>
<hr />

<div>
    <label>Order Notes</label>
    <div style="width: 380px;">
        <form method="post" action="@Url.Action("Create", "Orders")">
            @Html.AntiForgeryToken()
            <input type="text" name="OrderNotes" class="form-control" />
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
